@model IEnumerable<AntiAging.Models.PACIENTE>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    <a class="btn btn-success btn-xs" title="Detalles" href="../../Paciente/Create"> <span class="glyphicon glyphicon-plus"></span>Agregar Nuevo Paciente</a>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_PACIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSexo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PACIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PESO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSexo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar Registro", "Delete", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Examen", "Create",
            "Examenes", new {id = item.ID_PACIENTE}, null)
        </td>
    </tr>
}

</table>
